body {
    background-color: #fff3d7;
}
h1 {
    color: #00ff55;
    font-family: "Garamond", serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-style: solid;
    border-width: 2px 4px 4px 2px;
    border-color: #00ff55;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    margin: 20px 50px;
}
h2 {
    color: #00ff55;
    font-family: "Garamond", serif;
}
h3 {
    color: #00ff55;
    font-family: "Garamond", serif;
}
p {
    color: #193322;
    font-family: "Courier New", "Courier", monospace;
}

a:link {
    color: #fc00ff;
    font-family: "Courier New", "Courier", monospace;
}
a:visited {
    color: #dc00df;
    font-family: "Courier New", "Courier", monospace;
}
a:hover{
    color: #ff33ff;
    font-family: "Courier New", "Courier", monospace;
}
a:active{
    color: #ff69ff;
    font-family: "Courier New", "Courier", monospace;
}