body {
    background-color: #ff00ff;
}
h1 {
    color: #ffffff;
    font-family: "Garamond", serif;
    text-align: center;
}
h2 {
    color: #ffffff;
}
h3 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-family: "Courier New", "Courier", monospace;
}